.timeWrapper {
  text-align: center;
  max-width: 40%;
  width: 100%;
  padding: 50px 107px;
  border-radius: 30px;

  box-shadow: 11px 11px 5px 1px rgba(0, 0, 0, 0.53);
  background-color: #5c5c5c;
}

.city {
  font-size: 36px;
  margin-bottom: 60px;
}

.time {
  font-size: 96px;
  margin-bottom: 10px;
}

.date {
  font-size: 20px;
  font-weight: 400;
}
