@use "/src/vars.scss" as *;

.timeWrapper {
  &.dark {
    @include colors-bg-dark;
  }
  transition: all 0.2s;

  text-align: center;
  max-width: 40%;
  width: 100%;
  padding: 50px 107px;
  border-radius: 30px;

  @include colors-bg();

  & > * {
    color: inherit;
  }
}

.city {
  font-size: 36px;
  margin-bottom: 60px;
}

.time {
  font-size: 96px;
  margin-bottom: 10px;
}

.date {
  font-size: 20px;
  font-weight: 400;
}
