.todayWrapper {
  display: flex;
  justify-content: space-between;

  max-width: 60%;
  width: 100%;
  border-radius: 30px;

  padding: 0 30px 30px;

  box-shadow: 11px 11px 5px 1px #00000087;
  background-color: #5c5c5c;

  background: #fff;
  background: linear-gradient(
    99deg,
    #5c5c5c 50%,
    rgba(218, 217, 217, 0.4) 100%
  );
}
