@use "/src/vars.scss" as *;

.todayWrapper {
  display: flex;
  justify-content: space-between;

  max-width: 60%;
  width: 100%;
  border-radius: 30px;

  padding: 0 30px 30px;

  @include colors-bg;

  &.dark {
    @include colors-bg-dark;
  }
}
