.btn {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;

  border: none;
  border-radius: 40px;

  background-color: #4cbb17;
  padding: 14px 25px;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba($color: #79e448, $alpha: 1);
  }

  span {
    font-size: 22px;
    font-weight: 800;
    margin-left: 10px;
  }
}

.locationICon {
  position: absolute;
}
