.wrapper {
  position: relative;
}

.input {
  transition: all 0.2s;
  &.input_dark {
    background-color: #444444;
    color: white;

    &::placeholder {
      color: white;
      opacity: 0.4;
    }
  }

  background-color: #d9d9d9;
  color: #444444;

  width: 803px;
  height: 62px;
  border: none;
  border-radius: 40px;

  padding: 27px 91px;

  font-size: 18px;
  font-weight: 400;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #444444;
    opacity: 0.4;
  }
}

// search

.search {
  cursor: pointer;
  position: absolute;
  left: 33px;
  top: 8px;
  background-color: transparent;
  border: none;
  padding: 0;

  svg {
    stroke: #000;
    transition: all 0.2s;

    &:hover {
      stroke: rgba($color: #49e02b, $alpha: 1);
    }
  }

  &:disabled svg {
    stroke: #707070;
    &:hover {
      stroke: rgba($color: #707070, $alpha: 1);
    }
  }

  &.search_dark {
    svg {
      stroke: #fff;
      &:hover {
        stroke: rgba($color: #49e02b, $alpha: 1);
      }
    }

    &:disabled {
      svg {
        stroke: #b1b1b1;
        &:hover {
          stroke: rgba($color: #b1b1b1, $alpha: 1);
        }
      }
    }
  }
}

.searchData {
  position: absolute;
  top: 100%;

  padding: 30px;

  width: 100%;
  border-radius: 20px;

  background-color: rgba($color: #ffffff, $alpha: 1);

  &__cityName {
    cursor: pointer;
    color: #000;
    font-size: 18px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    transition: 0.1s ease-in-out;
    padding-bottom: 5px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.7);
    }
  }
}
