.wrapper {
  position: relative;
}

.input {
  width: 803px;
  height: 62px;
  background-color: #444444;
  border: none;
  border-radius: 40px;

  padding: 27px 91px;

  font-size: 18px;
  font-weight: 400;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: white;
    opacity: 0.4;
  }
}

.searchIcon {
  position: absolute;
  left: 33px;
  top: 8px;
}
