.main {
  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 55px;
    margin-bottom: 50px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 55px;
  }
}
