@mixin colors-bg {
  transition: all 0.2s ease-in-out;

  box-shadow: 11px 11px 5px 1px rgba(141, 141, 141, 0.53);
  background-color: #f1f1f1;
  color: #292929;
}

@mixin colors-bg-dark {
  transition: all 0.2s ease-in-out;

  box-shadow: 11px 11px 5px 1px rgba(0, 0, 0, 0.53);
  background-color: #5c5c5c;

  color: white;
}

@mixin gradient-bg {
  transition: all 0.2s ease-in-out;

  background: rgba(190, 190, 190, 0.846);
  background: linear-gradient(57deg, #d9d9d9 31%, #466173 100%);
}

@mixin gradient-bg-dark {
  transition: all 0.2s ease-in-out;

  background: #5c5c5c;
  background: linear-gradient(
    99deg,
    #5c5c5c 50%,
    rgba(218, 217, 217, 0.4) 100%
  );
  color: white;
}
